body {
    background-color: #F0F2F5;
}
#container {
    width: 3105;
    height: 719.95;
}
#content {
    width: 955;
    height: 536;
}


/* 왼쪽 부분 */
.left {
    width: 400px;
    height: 257.58px;
    padding: 112px 0px 16px;
}

#logo_text {
    width: 368;
    height: 181.58px;
}

img {
    width: 694px;
    height: 106px;
    margin-top: 56px;
}

#main_text {
    color: #1C1E21;
    width: 368px;
    height: 76px;
    padding: 0px 0px 20px;
    margin-left: 216px;
    margin-top: -30px; 
}

/* 오른쪽 부분 */
.right {
    width: 396px;
    height: 496px;
    margin-left: 794px;
    margin-top: -301px;
}

#login_box {
    width: 396px;
    height: 315.34px;
    margin: 40px 0px 0px;
    padding: 10px 0px 24px;
    background-color: #FFF;
    border-radius: 7px;
    box-shadow: 0px 5px 15px 3px #C9CBCD;
    display: flex;
    justify-content: center;
}

#login_form {
    width: 396px;
    height: 315.34;
    padding: 15px;
}

#input_box {
    width: 396px;
    height: 131.58;
    display: flex;
    justify-content: center;
}

#input_box2 {
    width: 363.98px;
    height: 131.58;
}

.input {
    width: 363.98px;
    height: 52.97px;
    padding: 6px 0px;
}

.input > input::placeholder {
    color: #90949C;
    font-size: 17px;
}

input {
    background-color: #FFFFFF;
    width: 330.97px;
    height: 22.97px;
    padding: 14px 16px;
    border-radius: 7px;
    border: solid 1px #DDDFE2;
    font-size: 17px;
    caret-color: #0766FF;
    box-shadow: inset 0px 0.5px 0px 0.5px #F5F5F5;
}

.input :focus {
    border-color: #0766FF;
    outline: none;
    box-shadow: 0px 0px 0px 2px #E7F3FF;
}

#submit_box {
    width: 396px;
    height: 48px;
    padding: 6px 0px 0px;
    display: flex;
    justify-content: center;
}

#log-in {
    width: 364px;
    height: 48px;
    background-color: #0766FF;
    border: 0px;
    color: white;
    padding: 0px 16px;
    border-radius: 7px;
    font-size: 21px;
    font-weight: 500.2;
}

#forget {
    width: 396px;
    height: 18.76px;
    margin: 16px 0px 0px;
    
}

a {
    width: 131.2px;
    height: 16.5px;
    text-decoration: none;
    font-size: 14px;
    color: #0866FF;
    font-weight: 465;
}

hr {
    width: 364px;
    height: 1px;
    background-color: #DBDDE1;
    border: 0;
}

#join {
    width: 396px;
    height: 4%8;
    padding: 6px 0px 0px;
    display: flex;
    justify-content: center;
}

#join_button {
    width: 128.09px;
    height: 48px;
    background-color: #43B72A;
    border: 0;
    color: white;
    padding: 0px 16px;
    border-radius: 7px;
    font-size: 16.5px;
    font-weight: 500;
}

.mini_text {
    width: 396px;
    height: 18.76px;
    margin: 28px 0px 0px;
}

#mk_page {
    width: 76.55px;
    height: 16px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}